<ion-view view-title="Contact Us" class="sweet">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/mob.jpg">
    <h2>M.O.B SDA</h2>
    <p>Welcome Home</p>
  </div>

  <div class="item item-image">
    <img src="img/mob.jpg">
  </div>

  

</div>

    <div class="list list-inset">
 			<div class="item item-text-wrap">
 				We would be happy to have you join us in worship or at one of the church events listed on our calendar.
 			</div> 			
 		</div>
      <ion-item menu-close ng-click="CallNumber()">Call Us</ion-item>
    
  </ion-content>
</ion-view>