<ion-view view-title="Contact Us" class="sweet">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/mob.jpg">
    <h2>M.O.B SDA</h2>
    <p>09/23/2016</p>
  </div>

  <div class="item item-image">
    <img src="img/mob.jpg">
  </div>
  </div>

  <div class="item item-avatar">
    <img src="img/mob1.jpg">
    <h2>M.O.B SDA</h2>
    <p>09/30/2016</p>
  </div>

  <div class="item item-image">
    <img src="img/mob1.jpg">
  </div>
  </div>

  <div class="item item-avatar">
    <img src="img/church.jpg">
    <h2>M.O.B SDA</h2>
    <p>09/30/2016</p>
  </div>

  <div class="item item-image">
    <img src="img/church.jpg">
  </div>
  </div>
    
  </ion-content>
</ion-view>