<ion-view view-title="M.O.B Ministries" class="body">
  <ion-content>
    <!--<div class="card body">
      <ion-item>
        <div class="video-container ">
          <iframe src="https://www.youtube.com/embed/j2g3qs8SSIY" frameborder="0" width="560" height="315"></iframe>
        </div>
      </ion-item>
    </div>-->

    <div class="list card">

  <div class="item item-avatar body">
    <img src="img/mob.jpg">
    <h2 class="text">Mount Of Blessings SDA</h2>
    <h3 class="text">Welcome Home</h3>
  </div>

  <div class="item item-image">
    <img src="img/church.jpg">
  </div>

  

  

</div>

    
 			<div class="list list-inset body" align="center">
 				<h4 class="text">The ministries of this church are the life blood of this church. You are welcome  to be involved where your spiritual needs can be fulfilled and where you can share what God has done in your life.</h4>
 			</div> 			
 

    
  </ion-content>
</ion-view>
