<ion-view view-title="M.O.B Ministries" class="sweet">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/mob.jpg">
    <h2>Mount Of Blessings SDA</h2>
    <p>Welcome Home</p>
  </div>

  <div class="item item-image">
    <img src="img/church.jpg">
  </div>

  

  

</div>

    <div class="list list-inset">
 			<div class="item sweet item-text-wrap" align="center">
 				<h2>The ministries of this church are the life blood of this church. You are welcome  to be involved where your spiritual needs can be fulfilled and where you can share what God has done in your life.</h2>
 			</div> 			
 		</div>

    
  </ion-content>
</ion-view>