<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="body">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="sweet">
      <h1 class="title">My Church</h1>
    </ion-header-bar>
    <ion-content class="sweet">
      <!--<ion-list>
        <ion-item menu-close href="#/app/posts">
          M.O.B Bulletin
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/sabbathschool">
          Sabbath School
        </ion-item>
        <ion-item menu-close href="#/app/videolib">
          M.O.B Video Lib
        </ion-item>
        <ion-item class="icon ion-help-circled item-icon-left"  menu-close href="#/app/eldersonduty">
          Elders On Duty
        </ion-item>
        <ion-item icon-off="ion-at-outline" icon-on="ion-at" menu-close href="#/app/aboutus">
         

           <a class="item item-icon-left" href="#">
            <i class="icon ion-help-circled"></i>
            About Us
          </a>
        </ion-item>
      </ion-list> -->
      <div class="list">

  <a class="item item-icon-left" menu-close href="#/app/posts">
    <i class="icon ion-email"></i>
    M.O.B Bulletin
  </a>

  <a class="item item-icon-left item-icon-right" menu-close href="#/app/sabbathschool">
    <i class="icon ion-home"></i>
    Sabbath School
    <span class="item-note">
      Happy Sabbath
    </span>
  </a>


  <a class="item item-icon-left" menu-close href="#/app/postelders">
    <i class="icon ion-help-circled"></i>
    Elders On Duty
    <!-- <span class="badge badge-assertive">0</span> -->
  </a>

  <a class="item item-icon-left" menu-close href="#/app/videolib">
    <i class="icon ion-social-youtube"></i>
    M.O.B Youtube Channel
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" menu-close href="#/app/aboutus">
    <i class="icon ion-help-circled"></i>
    About Us
    <!-- <span class="badge badge-assertive">0</span> -->
  </a>

</div>

<h3 align="center">My Lib</h3>
<div class="list">
  <a class="item item-icon-left" menu-close href="#/app/gallery">
    <i class="icon ion-image"></i>
    Gallery
    <!-- <span class="badge badge-assertive">0</span> -->
  </a>
</div>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<footer>

</footer>

